* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 3%;
    height: 1000px;
    width: auto;
}

nav {
    text-align: center;
    margin: 0.5rem;
}

nav li {
    display: inline;
    text-align: center;
    padding: 0.5rem 1.5rem;
}

nav li a {
    text-decoration: none;
    color: #000000;
}

header {
    height: 500px;
    padding: 0 15%;
}

.top {
    background: url(/img/banner.jpg) center center/cover no-repeat;
    height: 250px;
}

.top div {
    padding: 70px 150px 50px;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    width: 130px;
    margin-left: 50px;
}

.underline {
    line-height: 0.7;
}

.b {
    color: #ffe964;
}

.i {
    color: #ff523d;
}

.k {
    color: #223c88;
}

.middle {
    background-color: #ffe964;
    text-align: center;
    height: 200px;
    padding: 30px 80px;
}

.middle h2 {
    margin: 15px;
    font-weight: bold;
}

.white-section {
    height: 200px;
    padding: 30px 200px;
}

.white-section h2 {
    margin-bottom: 20px;
}

.red-section {
    margin-top: 20px;
    background-color: #ff523d;
    padding: 30px 80px;
    height: 1100px;
    text-align: center;
    color: #fff;
}

.red-section img {
    height: 150px;
    width: 150px;
    margin: 20px;
}

.red-section img:last-child {
    margin-bottom: 30px;
}

.red-section h2 {
    padding-right: 500px;
}

footer {
    background-color: #223c88;
    color: #fff;
    height: 300px;
    padding: 50px 150px;
}